<h3>Buscar por Región <small> {{ regionActiva | titlecase }} </small> </h3>
<hr>

<h5>Seleccione la región</h5>

<div class="row">
    <div class="col">
        <!-- ESTAS SON FORMAS DE AGREGAR ATRIBUTOS PARA QUE FUNCIONE EL CAMBIO DE CLASE DE FORMA DINAMICA -->
        <!-- [class.active] = "region === regionActiva" EL QUE MAS ME GUSTO -->
        <!-- [ngClass]="{
            'btn-primary': regionActiva === region,
            'btn-outline-primary': regionActiva !== region
        }" -->
        <!-- [class]=" ( region === regionActiva ) ? 'btn btn-primary' : 'btn btn-outline-primary'" ESTA ES MI SEGUNDA PREFERIDA -->

        <button 
            *ngFor="let region of regiones"
            [class]=" ( region === regionActiva ) ? 'btn btn-primary mr-1' : 'btn btn-outline-primary mr-1'"
            (click)="activarRegion( region )">
            {{ region | titlecase }}
        </button>
    </div>
</div>

<hr>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">

        <app-pais-tabla [paises]="paises"></app-pais-tabla>


    </div>
</div>