<h1 class="mt-3">Agregar Producto</h1>
<hr>

<form [formGroup]="miFormulario">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre</label>
        </div>
        <div class="col-auto">
            <input class="form-text"
                   formControlName="nombre">
        </div>
        <div class="col-auto">
            <span class="text-danger"
                  *ngIf="hayError('nombre')">Requerido!</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-info">Agregar</button>
        </div>
    </div>
</form>

<h3 class="mt-4">Formulario: </h3>
<pre>Valid: {{ miFormulario.valid }} </pre>
<pre>Value: {{ miFormulario.value | json }} </pre>
