<h2>Reactivos: Dinámicos</h2>
<hr>
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col">
            <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre persona" autocomplete="off">
            <span class="text-danger" *ngIf="campoValido('nombre')">Campo
                obligatorio</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="input-group">
            <label class="col-sm-3 col-form-label">Agregar</label>
            <input type="text"
                   [formControl]="nuevoFavorito"
                   class="form-control" 
                   placeholder="Agregar Favorito"
                   (keyup.enter)="agregarFavorito()">
            <button class="btn btn-outline-info"
                    (click)="agregarFavorito()">Agregar</button>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col" formArrayName="favoritos">
            <div  class="input-group mb-1" *ngFor="let favorito of favoritosArr.controls; let i = index">
                <input class="form-control" [formControlName]="i">
                <button class="btn btn-outline-danger" 
                        (click)="borrar(i)">Borrar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-info float-end">Guardar</button>
        </div>
    </div>
</form>



<span>Object output:</span>
<pre>{{ miFormulario.value | json }}</pre>

<br>

<span>agregar Favorito</span>
<pre>{{ nuevoFavorito.value | json }}</pre>