<ul>
    <li>
        <a routerLink="/auth/login">Login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">Registro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado">Listado Heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Agregar Heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/:id">Editar Heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Buscar Heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/:id">Heroe XXX</a>
    </li>
</ul>