<h2>Reactivos: Básicos</h2>

<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" [formGroup]="miFormulario">

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre del Producto" formControlName="nombre">
                    <span class="form-text text-danger"
                          *ngIf="campoValido('nombre')">
                    <!-- *ngIf="myForm.controls.product?.invalid && myForm.controls.product?.touched" -->
                    Debe ser de 3 letras o más</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Precio del Producto" formControlName="precio">
                    <span class="form-text text-danger"
                    *ngIf="campoValido('precio')">
                    El precio debe ser mayor a 0</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Existencias del Producto" formControlName="cantidad">
                    <!-- <span class="form-text text-danger">Debe ser de 3 letras o más</span> -->
                    <span class="form-text text-danger"
                    *ngIf="campoValido('cantidad')">
                    La cantidad debe ser mayor a 0</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.invalid">Guardar</button>
                </div>
            </div>

        </form>

    </div>
</div>



<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>

    </div>
</div>

