
<div fxLayout="column">
    <div>
        <h1>Buscar Heroe</h1>
        <br>
    </div>

    <div>
        <!-- <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [( ngModel )] = "termino"
                   [matAutocomplete]="auto"
                   >

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                {{ heroe.superhero }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
    </div>
</div>

