<h1>Nuevo Heroe <small>name</small></h1>

<div fxLayout="row" fxLayoutGap="40px">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
                <mat-label>Super Heróe</mat-label>
                <input matInput type="text" required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" required>
            </mat-form-field>

        </div>

        <mat-form-field fxFlex="100">
            <mat-label>Primera Aparición</mat-label>
            <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select>
                <mat-option *ngFor="let publisher of publishers" 
                            [value]="publisher.id">
                    {{ publisher.desc }}        
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Foto URL</mat-label>
            <input matInput type="text" required>
        </mat-form-field>

        <br>

        <button mat-flat-button color="warn">
            <mat-icon>done</mat-icon>
            Guardar
        </button>

    </div>

    <div fxFlex="50">
        <img [src]=" heroe | imagen ">
    </div>
</div>