<div class="text-layout">
    <h1>
        {{ 'Hola Jero' }}
    </h1>
</div>

<div>
    <button (click)="mostrarNombre()">
        Cambiar Nombre
    </button>

    <!-- <button pButton type="button" label="Click1" icon="pi pi-apple" iconPos="right" class="p-button-help"></button> -->
    <!-- <p-button label="Click2" icon="pi pi-spin pi-spinner" iconPos="right"></p-button> -->
</div>

<div class="cardcomp">
    <!-- <p-card *ngFor="let item of dataList">
        <ng-template pTemplate="header">
            {{ item.name }}{{ item.lastname }}, Age: {{ item.age }}
        </ng-template>
        {{ item.phrase }}
        <ng-template pTemplate="footer">
            {{ item.country }}
        </ng-template>
    </p-card> -->
</div>